[submodule "misc/micropython-wifimanager"]
	path = misc/micropython-wifimanager
	url = https://github.com/mitchins/micropython-wifimanager.git
[submodule "misc/tinyweb"]
	path = misc/tinyweb
	url = https://github.com/belyalov/tinyweb.git
[submodule "misc/micropython"]
	path = misc/micropython
	url = https://github.com/micropython/micropython.git
